.side-bar
  .side-bar__top
    .side-bar__top__user-name
      %p  name
      .side-bar__top__user-name__icons
        %ul.side-bar__top__user-name__icons__items
          = link_to "#" do
            %li.far.fa-edit.fa-1x
          = link_to "#" do
            %li.fas.fa-cog
  .side-bar__under
    .side-bar__under__area
      %p.side-bar__under__area-group  group    
      %p.side-bar__under__area-message  message
    .side-bar__under__area
      %p.side-bar__under__area-group  group    
      %p.side-bar__under__area-message  message
    .side-bar__under__area
      %p.side-bar__under__area-group  group    
      %p.side-bar__under__area-message  message
  .side-bar__group-list